body {
    font-family: 'Cairo';
    font-size: 20px;
    background-color: #d6b376;
    color: #34495E;
    line-height: 1.5em;
}

h1 {
    font-size: 32px;
}

a {
    color: #34495E;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-rows: 50px 1fr 50px;
        grid-template-columns: 1fr;
    }
    
    .content {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        min-height: max-content;
    }
    
    #me {
      height: 300px;
      width: 300px;
      border-radius:50%;
    }
    
    #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }

    #intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }

    h1 {
        margin-bottom: 0;
    }

    h2, p {
        margin: 1rem;
    }
}

@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-rows: 100px 1fr 50px;
        grid-template-columns: 1fr 3fr 1fr;
        width: 100vw;
        height: 100vh;
    }
    
    .content {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }
    
    #me {
      height: 300px;
      width: 300px;
      border-radius:50%;
    }
    
    #intro {
        display: flex;
    }
        
    #intro-text {
        margin-left: 1rem;
    }

    h1 {
        margin: 0;
    }

}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    align-self: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.menu-item {
    padding-right: 1.5rem;
}

.blog-image {
    width: 100%;
}

.footer {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
    font-size: 16px;
    justify-self: center;
    line-height: 1em;
    margin-top: 1.5em;
}